<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Titre de la recette :" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"Ingrédients :" %>
    <%= form.text_area :ingredient %>
  </div>

  <div class="field">
    <%= form.label :"Préparation :" %>
    <%= form.text_area :preparation %>
  </div>

  <div class="actions">
        <input class="submit-button" type="submit" name="commit" value="Publier votre recette" data-disable-with="Create Recipe">
  </div>

  <%= link_to 'Back', recipes_path, class:"link-hover" %>
<% end %>
