<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Titre de la recette :" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  <label for="recipe_Ingrédients :">Ingrédients :</label>
  <textarea name="recipe[ingredient]" id="recipe_ingredient" rows="5" cols="40"></textarea>
  </div>

  <div class="field">
  <label for="recipe_Préparation :">Préparation :</label>
  <textarea name="recipe[preparation]" id="recipe_preparation" rows="5" cols="40"></textarea>
  </div>

  <div class="actions">
        <input class="submit-button" type="submit" name="commit" value="Publier votre recette" data-disable-with="Create Recipe">
  </div>
<% end %>
